# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
# next.js build output
.next/
out/

# Tailwind CSS build artifacts
tailwind.config.js

# Build artifacts
build/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Ignore the actual Redis database files
redis-data/